/* Post Listing */
.blog-cards-container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 20px;
}

.cards-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.blog-card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.blog-card-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #333;
}

.card-topics {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.topic-tag {
    background-color: #e0e0e0;
    color: #555;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: normal;
}

/* Post Listing End */



/* Footer Styles */
.footer {
    background-color: #353333;
    color: #ECF0F1;
    text-align: center;
    padding: 1.5rem;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 0;
    font-size: 16px;
}

.social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Allows links to wrap on smaller screens */
}

.social-links a {
    color: #ECF0F1;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between icon and text */
}

.social-links a:hover {
    color: #ffffff;
}

/* Responsive adjustments for the social links */
@media (max-width: 480px) {
    .social-links {
        flex-direction: column;
        gap: 10px;
    }
}

/* Footer End */












