/* Custom styles not available in Tailwind */
.text-gradient {
    background: linear-gradient(to right, #374151, #1f2937);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.site-name-font {
    font-family: 'Montserrat', sans-serif;
}

